* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/*grid for alle statiske elementer på nettsiden */
#ikoner {
  display: grid;
  grid-template-columns: auto;
  padding: 3%;
  margin: 0;
}

/* flexer ikonene og logo*/
#topp-ikoner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


#sort-strek {
  height: 1px;
  border: none;
  background-color: black;
  margin: 10px 0 10px 0;
}

/*-------------------*/
/*Mobil strørrelse*/
.forside i {
  font-size: 2rem;
}

#logo {
  height: 4rem;
}

.profil {
  font-size: 2rem;
}

.hamburger {
  font-size: 2rem;
}

.handlekurv {
  font-size: 2rem;
}




#nyheter-bilde {
  width: auto;
  height: 10rem;
}


#bunn-ikoner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/*Creds til chatgpt for å legge inn bakgrunnsbilde*/
body {
  background-image: url("../img/luke-chesser-IGtutkXikuc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*fjerne bort punkter fra logo*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.kolleksjon {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-self: center;
}

.nyheter-section{
  display: flex;
  justify-content: center;
}


.katelog-g-j {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-between;
}

.katelog{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-between;
}

#salg{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/*fjerne punkter fra alt i main*/
main * {
  list-style-type: none;
}


/*Index - Desktop størrelse*/
@media screen and (min-width : 768px) {
  #ikoner {
    display: grid;
    grid-template-columns: auto;
    padding: 3%;
    margin: 0;
  }

  #topp-ikoner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .forside i {
    font-size: 3rem;
  }

  #logo {
    height: 10rem;
  }

  .profil i {
    font-size: 3rem;
  }

  .hamburger i {
    font-size: 3rem;
  }

  .handlekurv {
    font-size: 3rem;
  }

  #nyheter-bilde {
    width: auto;
    height: 20rem;
  }

  #bunn-ikoner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .kolleksjon {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    justify-self: center;
  }



  #bilde-sko {
    padding-bottom: 10%;
    margin: 10%;
  }

  /*salg forsvinner i desktop*/
  #salg {
    display: none
  }
}



/*-------------------*/
/*produktside - mobil*/


.main-produkt {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

#produkt-bilde {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 5%;
}

#produkt-bilde img {
  border-radius: 3%;
  width: 380px;
}

.price-size-buy {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#btn {
  width: 30%;
  max-width: 120px
}

/*https://uiverse.io/aboalsim114/neat-cow-49*/
#btn {
  position: relative;
  background-color: rgb(34, 70, 230);
  border-radius: 5px;
  box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
  padding: 15px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 154px;
  height: 49px;
  color: #fff;
  border: none;
  font-size: 20px;
  transition: all .3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

#btn::before {
  content: "";
  background-color: rgb(68, 192, 51);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

#btn:hover::before {
  width: 100%;
}



#produktnavn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

}

.produkt-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
}


/*produkt - Desktop størrelse*/
@media screen and (min-width : 768px) {
  main {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;

  }

  #produkt-bilde img {}

  #produkt-bilde {
    grid-column: 3
  }

  #kundevurderinger {
    grid-column: ;
  }
}